<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.baodingdong">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/baodingdongzhuye"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GqgkActivity" />
        <activity android:name=".RylxActivity" />
        <activity android:name=".YqybActivity" />
        <activity android:name=".TaizhangJzActivity" />
        <activity android:name=".WangxiantouActivity" />
        <activity android:name=".OtdrActivity" />
        <activity android:name=".M2Activity" />
        <activity android:name=".BtsActivity" />
        <activity android:name=".UpsActivity" />
        <activity android:name=".DonghuanActivity" />
        <activity android:name=".GaokaiActivity" />
        <activity android:name=".JiaoliuActivity" />
        <activity android:name=".KongtiaoActivity" />
        <activity android:name=".ChuanshuActivity" />
        <activity android:name=".ShipinActivity" />
        <activity android:name=".FangzaiActivity" />
        <activity android:name=".BaodingdongActivity" />
        <activity android:name=".FasActivity" />
        <activity android:name=".DdfActivity" />
        <activity android:name=".ShujuwangActivity" />
        <activity android:name=".DianchijiankongActivity" />
        <activity android:name=".ChezhanchuanshuActivity" />
        <activity android:name=".Baodingdong1louActivity" />
        <activity android:name=".OnuActivity" />
        <activity android:name=".ZonghepeixianActivity" />
        <activity android:name=".DianchizuActivity" />
        <activity android:name=".ChezhanupsActivity" />
        <activity android:name=".ZhubobiActivity" />
        <activity android:name=".M2fenxiyiActivity" />
        <activity android:name=".Baodingdong1louJiaoliuActivity" />
        <activity android:name=".BaodingdongShipingui2" />
        <activity android:name=".BaodingdongJinghusuiActivity" />
        <activity android:name=".ZhifangzhanActivity" />
        <activity android:name=".QuangaokongtiaoActivity" />
        <activity android:name=".JingshafuwuqiActivity" />
        <activity android:name=".SuotingPingmianActivity" />
        <activity android:name=".PeidiansuoChuanshuActivity" />
        <activity android:name=".ATsuoChuanshuActivity" />
        <activity android:name=".SuotingKongtiaoActivity" />
        <activity android:name=".BaoyangdianActivity" />
        <activity android:name=".BaoyangdianKongtiaoActivity" />
        <activity android:name=".BaoyangdianZonghepeixianActivity" />
        <activity android:name=".PeidiansuoPingmianActivity" />
        <activity android:name=".XushuidongActivity" />
        <activity android:name=".XushuiChuanshuActivity" />
        <activity android:name=".XushuidongKongtiaoActivity" />
        <activity android:name=".GaobeidiandongActivity" />
        <activity android:name=".GaobeidiandongChuanshuActivity" />
        <activity android:name=".NeizuceshiyiActivity" />
        <activity android:name=".ShipingongchengbaoActivity" />
        <activity android:name=".DianchizutuoguanActivity" />
        <activity android:name=".SanbudongActivity" />
        <activity android:name=".HongxianActivity" />
        <activity android:name=".ShibuzhunActivity" />
        <activity android:name=".JibenhongxianActivity" />
        <activity android:name=".TongxinduanhongxianActivity" />
        <activity android:name=".WubixuActivity" />
        <activity android:name=".AANewGuanNeiHuanTu" />
        <activity android:name=".AANewDingWeiDaoHang" />
        <activity android:name=".AANewJiZhanSheBei" />
        <activity android:name=".AANewGuZhangKongTiao" />
        <activity android:name=".AANewGuZhangBTS" />
        <activity android:name=".AANewGuZhangChuanShu" />
        <activity android:name=".AANewGuZhangShiPin" />
        <activity android:name=".AANewGuZhangGaoKai" />
        <activity android:name=".AANewGuZhangONU" />
        <activity android:name=".AANewGuZhangUPS" />
        <activity android:name=".AANewGuZhangFangZai" />
        <activity android:name=".AANewGuZhangDongHuan" />
        <activity android:name=".AANewGuZhangCheZhanUPS" />
        <activity android:name=".AANewRiChangGuZhang" />
        <activity android:name=".AANewYiQiYiBiao" />
        <activity android:name=".AANewGuiZhangZhiDu" />
        <activity android:name=".AANewJianYiBianQian" />
        <activity android:name=".A3_MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".A3_WangTu_ctc2014" />
        <activity android:name=".A3_WangTu_ctc" />
        <activity android:name=".A3_WangTu_scadad1" />
        <activity android:name=".A3_WangTu_scadad3" />
        <activity android:name=".A3_WangTu_scadad4" />
        <activity android:name=".A3_WangTu_scadad8" />
        <activity android:name=".A3_WangTu_scadad9" />
        <activity android:name=".A3_WangTu_scadaq1" />
        <activity android:name=".A3_WangTu_scadaq2" />
        <activity android:name=".A3_WangTu_scadaq3" />
        <activity android:name=".A3_WangTu_shipinb" />
        <activity android:name=".A3_WangTu_shiping" />
        <activity android:name=".A3_WangTu_chuanshu" />
        <activity android:name=".A3_WangTu_daocharongxue" />
        <activity android:name=".A3_WangTu_donghuan1" />
        <activity android:name=".A3_WangTu_donghuan2" />
        <activity android:name=".A3_WangTu_fangzaid" />
        <activity android:name=".A3_WangTu_fangzai1" />
        <activity android:name=".A3_WangTu_fangzai2" />
        <activity android:name=".A3_WangTu_fangzai3" />
        <activity android:name=".A3_WangTu_fangzai4" />
        <activity android:name=".A3_WangTu_gubiao" />
        <activity android:name=".A3_WangTu_kepiao" />
        <activity android:name=".A3_WangTu_ruilitongb" />
        <activity android:name=".A3_WangTu_ruilitongx" />
        <activity android:name=".A3_WangTu_ruilitongg" />
        <activity android:name=".A3_WangTu_shujuwang" />
        <activity android:name=".A3_WangTu_shujuwangtongdao" />
        <activity android:name=".A3_WangTu_xinhaoanquanshujuwang" />
        <activity android:name=".A3_GuanNeiWangTu" />
        <activity android:name=".A3_GuanNei_ctc" />
        <activity android:name=".A3_GuanNei_scada" />
        <activity android:name=".A3_GuanNei_shipin" />
        <activity android:name=".A3_GuanNei_donghuan" />
        <activity android:name=".A3_GuanNei_fangzai" />
        <activity android:name=".A3_GuanNei_ruilitong" />
        <activity android:name=".A3_GuanNei_shujuwang" />
        <activity android:name=".A3_YingJi_kepiao" />
        <activity android:name=".A3_YingJi_shujuwang" />
        <activity android:name=".A3_YingJi_fas" />
        <activity android:name=".A3_YiBiao_wanyongbiao" />
        <activity android:name=".A3_YiBiao_zhaooubiao" />
        <activity android:name=".A3_YiBiao_jiedidianzu" />
        <activity android:name=".A3_GuanNei_xinxianyunyong" />
        <activity android:name=".A3_Download"></activity>
    </application>

</manifest>